%h2
  = t(:'.header')

= form_for(@<%= singular_table_name %>, :url => <%= singular_table_name %>_path(@<%= singular_table_name %>), :html => { :class => :form }) do |f|
  = render(:partial => "form", :locals => {:f => f})
